body{
  margin: 0;
  text-align: center;
  font-family: 'Fredoka', sans-serif;
  font-size: 20px;
}


h1
{ color:  #66BFBF;
  margin: 102px auto 0 auto ;
    font-family: 'Dancing Script', cursive;
    font-size: 4.5rem;
}
.topcontainer{
  background-color: #C1F4C5;
  position: relative;
  padding-top: 100px;
}
h2{
  color: #66BFBF;
  font-weight: normal;
}

h3{
  color: #11999E;

}
.subtext{
  font-size: 2.5rem;
}

.middlecontainer{
  background-color: blue;
  height: 200px;
  width: 200px;
}


.bottomcontainer{
  background-color: yellow;
  height: 200px;
  width: 200px;
}


.cloud1
{
  position: absolute;
  top: 90px;
  right: 30%;

}


.cloud2{
  position: absolute;

}
.dp
{
  height: 200px;
  width: 200px;
  border-radius: 100%;
}

.skill-row{
  display: inline-block;
  width: 50%;
  text-align: left;
  line-height: 2;
  padding: 2% 0;
}

.skillimg1{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skillimg2{
  width: 25%;
  float: right;
  margin-left: 30px;
}
 .intro
 {
   display: inline-block;
   width: 40%;
 }


hr
{ width: 5%;
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  margin: 100px auto;
  background-color: #ffff;
  border-color: #66BFBF;
}

.footer-link{
  padding:0.5%;
}

.fa-brands{
  color: black;

}
